includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 9
    scanDirectories:
        - dev-stubs
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    languageVersion: 8.3
